

  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 9999px;
    /* rounded-full */
    pointer-events: none;
    /* pointer-events-none */

    /* transform -translate-x-1/2 -translate-y-1/2 */
    transform: translate(-50%, -50%);

    z-index: 9999;
    /* z-[9999] */
  }

